<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/chamindac/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="chamindac" />
            <add key="ClearTextPassword" value="eac6c69af724dee7cb1c6ff9293050665125342c" />
        </github>
    </packageSourceCredentials>
</configuration>