<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/chamindac/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="chamindac" />
            <add key="ClearTextPassword" value="1b62e1fa135448ac5f9ac8eeddebf3f8da959141" />
        </github>
    </packageSourceCredentials>
</configuration>